<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AtlasRasa</title>
  <link rel="icon" href="./images/favicon.ico" />
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#030303"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
  <skip-to-content></skip-to-content>
  <app-header></app-header>
  <main id="mainContent" tabindex="-1"></main>
  <loading-component></loading-component>
  <app-footer>AtlasRasa</app-footer>
</body>
</html>